

<div class = "app_whole" >



<h3>Welcome to</h3><h2 style = "color: blue"> "Top Gear Tech"<h2><h3> Garage Management App</h3>


 <img src = "https://media.giphy.com/media/IelxugxenjdyU/giphy.gif">
</div>

