<style>
.lifter {

	position: relative;
left: 40px;
	top: 250px;
}

</style>



<div class = "app_whole" >





 <p class = "lifter"><img src = "https://static.wixstatic.com/media/d8b262_e07b72564957458980b3281039ea0af2.gif"></p>
</div>

<div  style = "background-color: #ffffff60; position: relative; top:200px">
<h1 style = "color: orange; padding: 10px">Welcome to "Top Gear Tech" Garage Management App</h1>
</div>

