<style>
.lifter {

	position: relative;
left: 150px;
	top: 150px;
}

</style>



<div class = "app_whole" >



<h1 style = "color: red">Welcome to</h1> <h3 style = "color: orange"> "Top Gear Tech"</h3> <h3 style = "color: green"> Garage Management App</h3>


 <p class = "lifter"><img src = "https://static.wixstatic.com/media/d8b262_e07b72564957458980b3281039ea0af2.gif"></p>
</div>

