
<div class = "garage_detail">
<h3 id = "garageName" class = "titles">Garage Name:  <span id = 'vehicle'><%= @garage.name %></span></h3>
<h3 id ="garageLocation" class = "titles">Location:  <span id = 'vehicle'><%= @garage.location %></span></h3>




<h2>Click <a href= "#"  class="js-previous" data-id = "<%= @garage.id %>" >Previous</a> to see next Garage</h2>
<h2>Click <a href= "#"  class="js-next" data-id = "<%= @garage.id %>" >Next</a> to see next Garage</h2>

<button id = 'garages-data'>Garage details</button>
</div>











