
<h1>List of customers at <%= @garage.name %></h1>

<ul>
	
		
	 <% @customers.order(:last_name).each do |c| %>
	 <li><%= link_to "#{c.last_name} , #{c.first_name}" , customer_path(c) %></li>
	 <% end %>
	</ul>






