
<div class ="app_whole">
<h1 style = "color: brown">List of appointments in given dates</h1>
<ol>
<% @appointments.each do|a|%>
	<li style = "color: orange"><%= link_to a.date.strftime("%A, %d %b %Y"), appointment_path(a) %></li><br>
	<% end %>
</ol>


</div>